<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Entrega Parcial 1">
  <meta name="author" content="">

  <title>Artist Social Media</title>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../css/heroic-features.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top">
    <div class="container">
      <a class="navbar-brand" href="../">Artist Social Media</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul id="navigation_bar" class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="./">Popular
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">{{profilename}}'s Profile</h1>
      <p class="lead">Artist chosen description</p>
      <a href="" class="btn btn-danger">Follow this user</a>
    </header>

    <!-- Page Features -->
    <div class="row text-center">
      


      {{#each images}}
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <a href="../Uploads/{{this.id}}"><img class="card-img-top" src="{{this.imgUrl}}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">{{this.title}}</h4>
              <p class="card-text">{{this.description}}</p>
            </div>
            <div class="card-footer">
              <a href="../Profile/{{this.user}}" class="btn btn-danger">{{this.user}}</a>
            </div>
          </div>
        </div>
      {{/each}}

      

    
  <!-- /.container -->

    <!-- /.container -->
  <script>
    //get navigation bar
    var navigation_bar = document.getElementById("navigation_bar");
    //buttons for logged in
    if({{logged}}){

      //timeline
      var timelineli = document.createElement("li");
      timelineli.className = "nav-item";
      var timelinea = document.createElement("a");
      timelinea.className = "nav-link";
      timelinea.href = "../MyTimeline";
      timelinea.innerHTML = "My Timeline"
      timelineli.appendChild(timelinea);
      navigation_bar.appendChild(timelineli);

      //profile
      var profileli = document.createElement("li");
      profileli.className = "nav-item";
      var profilea = document.createElement("a");
      profilea.className = "nav-link";
      profilea.href = "../MyGallery";
      profilea.innerHTML = "My profile"
      profileli.appendChild(profilea);
      navigation_bar.appendChild(profileli);

      //user
      var userli = document.createElement("li");
      userli.className = "nav-item";
      var usera = document.createElement("a");
      usera.className = "nav-link";
      usera.href = "../MyGallery";
      usera.innerHTML = "{{username}}"
      userli.appendChild(usera);
      navigation_bar.appendChild(userli);

      //logout
      var logoutli = document.createElement("li");
      logoutli.className = "nav-item";
      var logouta = document.createElement("a");
      logouta.className = "nav-link";
      logouta.href = "../Logout";
      logouta.innerHTML = "Logout"
      logoutli.appendChild(logouta);
      navigation_bar.appendChild(logoutli);      

    }
    
    else{
      //buttons for not logged in

      //register
      var registerli = document.createElement("li");
      registerli.className = "nav-item";
      var registera = document.createElement("a");
      registera.className = "nav-link";
      registera.href = "../Register";
      registera.innerHTML = "Register"
      registerli.appendChild(registera);
      navigation_bar.appendChild(registerli);    

      //login
      var loginli = document.createElement("li");
      loginli.className = "nav-item";
      var logina = document.createElement("a");
      logina.className = "nav-link";
      logina.href = "../Login";
      logina.innerHTML = "Login"
      loginli.appendChild(logina);
      navigation_bar.appendChild(loginli);              
    }
    
  </script>   

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



</body>

</html>
